body{
    background-color: #efefef;
}
.main{
    background-color: #ffffff;
    margin: 30px;
}
.img-rounded{
    height: 40px;
    width: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.comment{
    margin: 10px 0;
}

.btn-right {
    float: right;
    margin-bottom: 20px;
}
.margin-top0{
    margin-top: 0;
}
.margin-bottom4{
    margin-bottom: 20px;
}
.padding-left0{
    padding-left: 0;
}
.menu{
    margin-top: 10px;
    color: #999;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover {
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
.border-bottom{
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}