<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}">码匠社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <!--引入nav-->
    <div th:replace="navigation::nav"></div>
    <!--问题主体-->
    <div class="container-fluid main">
        <div class="row">
            <!--左侧显示-->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span th:text="${sectionName}"></span></h2>
                <hr>
                <div class="media" th:each="question:${questions}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.imgUrl}"  src="#" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.title}">怎么快速学会SpringBoot开发</h4>
                        <span  th:text="${question.description}"></span><br>
                        <span class="text-desc" th:text="${question.commentCount}">2个回复</span>
                        <span class="text-desc" th:text="${question.viewConut}">31次浏览</span>
                        <span class="text-desc" th:text="${#dates.format(question.createTime,'yyyy-MM-dd HH:mm')}">1小时前</span>
                    </div>
                </div>
            </div>
            <!--右侧列表-->
            <div class="col-lg-3 col-md-12 col-xs-12">
                <div class="list-group" style="margin-top: 15px">
                    <a href="/profile/questions" class="list-group-item" th:classappend="${section=='questions'}?'active':''">
                        我的问题
                    </a>
                    <a href="/profile/replies" class="list-group-item" th:classappend="${section=='replies'}?'active':''">
                        最新回复
                        <span class="badge">14</span>
                    </a>
                </div>
            </div>
        </div>
        <!--分页-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each=" page :${#numbers.sequence(1,pages)}">
                    <a href="#" th:href="@{/profile/questions(page=${page})}"  th:text="${page}">1</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>